<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
        }
        .error{
            width: 40%;
            height: 40%;
            background: #e2dfdf;
            border:1px solid  #9f9c9c ;
            border-radius: 5px;
            &a{
                text-decoration: none;
            }
        }
    </style>
</head>
<body>
    <div>
        <div class="error">
                <h3>Error!</h3>
                <br>
                <h4>Fail to Submit</h4>
                <br>
                <h2><a href="/">Go Back</a></h2>
        </div>
    </div>
</body>
</html>